# Node dependencies
node_modules
*.log
# GCP
.gcloudignore

# Application configuration file
# config.json
appconfig/keys.json
appconfig/keys_2.json

# Application builds
builds
dev
# misc
.DS_Store

.cache

phones.csv

devs
rta/test_out.csv
